*{
	padding: 0;
	margin: 0;
	font-family: "MDN47_0";
}



p{
	text-indent: 25px;
	font-family: "DNF55";
}

.header {
	width: 100%;
	position	: relative;
	margin-bottom: 30px;
}

.main{
	padding: 5%;
}

/* .pencil{
	width: 25px;
	height: 6px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	position: relative;
	transform: rotate(-45deg);
}

.pencil::after{
	content: '';
    width: 1px;
    height: 1px;
    border-radius: 50%;
    border: 1px solid #000;
    position: absolute;
    background-color: #000;
    top: 1px;
    left: -11px;
}

.pencil::before{
	content: ' ';
	width: 6px;
	height: 6px;
	background-color: #0000ff00;
	border-radius: 2px;
	position: absolute;
	border-left: 2px solid #000;
	border-top: 2px solid #000;
	transform: rotate(-45deg);
	left: -4px;
	top: -1px;
} */






.header_image{
		width: 100%;			
}

.intro_text{
	margin: 20px 0 20px 0;
}

.content_image{
	margin-top: 10px;
	width: 100%;	
}

.intro_title{
	line-height: 50px;
	font-weight: bolder;
  font-size: xxx-large;
}

.intro_author{
	position: relative;
	margin-left: 30px;
}

.intro_author::before{
	content: '';
	position: absolute;
	width: 25px;
	height: 40px;
	background-color: white;
	left: -36px;
	top: 11px;
	border-top: 1px solid black;
	border-left: 1px solid white;
}

.intro_author::before::before{
	width: 25px;
	height: 6px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	position: absolute;
	transform: rotate(-45deg);
}

.pencil::before{
	content: '';
	width: 8px;
	height: 1px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	position: absolute;
	transform: rotate(-45deg);
	left: -10px;
	top: 2px;
}

.pencil_head::after{
	content: '';
	width: 1px;
	height: 1px;
	border-radius: 50%;
	border: 1px solid #000;
	position: absolute;
	background-color: #000;
	top: 10px;
	left: -13px;
}

.pencil_head::before{
	content: ' ';
	width: 2px;
	height: 2px;
	background-color: #0000ff00;
	border-radius: 0px 2px 0px 2px;
	position: absolute;
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	transform: rotate(-90deg);
	left: -10px;
	top: 5px;
}

.intro_first_sentence{
	font-family: "MDN87_0";
}
.header_logo{
	position: absolute;
	color: aliceblue;
	top: 20px;
	left: 10px;
	display: flex;

}
.number_box{
	border: 1px solid white ;
	width: fit-content;
	max-height: fit-content;
	padding: 3px;
	font-weight: 700;
}

.header_title{
	font-family: "KozGoPr6N-Regular";
	font-size: x-small;
	letter-spacing: -2px;
	margin-left: 10px;
}

.header_title:after {
	content: '';
	width: 9px;
	height: 1px;
	background: white;
	position: absolute;
	bottom: 12px;
	left: 127px;
}

.header_title::before {
	content: '';
	width: 9px;
	height: 1px;
	background: white;
	position: absolute;
	bottom: 26px;
	left: 57px;
}

.number{
	font-size: x-large;
}

.number_1{
	position: absolute;
	right: 5%;
}

ul{
	list-style-position:inside;
}

li::marker{
	content: '●  ';
	font-size:large;
}

.intro{
	border-left: 1px solid black;
	padding-left: 5px;
	margin-bottom: 10px;
	max-width: 666px;
}

.line{
	border-top: 1px dashed #000;
 	height: 18px; 
}

.stars{
  text-align: center;
}

.text_content{
	width: 100%;
	margin: 30px 0 30px 0;
}



.todo_section_title{
	font-family: 'TTP';
	margin-top: 30px;
	margin-bottom: 5px;
}


@font-face {
	font-family: "DNF55"; 
	src: url("fonts/DNF55.otf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
	}
@font-face {
	font-family: "KozGoPr6N-Regular"; 
	src: url("fonts/KozGoPr6N-Regular.otf") format("truetype"); 
	font-style: normal; 
	font-weight: normal;
	}

@font-face {
	font-family: "MDN47_0"; 
	src: url("fonts/MDN47_0.otf") format("truetype"); 
	font-style: normal; 
	font-weight: normal;
	}

@font-face {
	font-family: "MDN87_0"; 
	src: url("fonts/MDN87_0.otf") format("truetype"); 
	font-style: normal; 
	font-weight: normal;
	} 

@font-face {
	font-family: "MDT45_0"; 
	src: url("fonts/MDT45_0.otf") format("truetype"); 
	font-style: normal; 
	font-weight: normal;
	}

@font-face {
	font-family: "MDT55_0"; 
	src: url("fonts/MDT55_0.otf") format("truetype"); 
	font-style: normal; 
	font-weight: normal;
	}

@font-face {
	font-family: "Probel"; 
	src: url("fonts/Probel.otf") format("truetype"); 
	font-style: normal; 
	font-weight: normal;
	}

@font-face {
	font-family: "wingding"; 
	src: url("fonts/wingding.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal;
	}

@font-face {
	font-family: "TTP"; 
	src: url("fonts/TypeType\ -\ TT\ Polls\ Script\ Bold.otf") format("truetype"); 
	font-style: normal; 
	font-weight: normal;
	}